{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Index Page</title>

 <!-- <script src="bower_components/react/react.js"></script>
      <script src="bower_components/react/react-dom.js"></script>-->
   
	 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static "style.css" %}">
   
 <!--<script src="https://unpkg.com/react@latest/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@latest/dist/react-dom.js"></script>-->
    <!--<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.31.0/react-bootstrap.js"></script>-->
 <body>
  <div id="root" />
  <div id="main"/>
 <!-- <script type="text/javascript" src="bundle.js"></script> -->
<script type="text/javascript" src="{% static "bundle.js" %}"></script> 
  </body>
<style>

</style>
</html>
