.sidebar{
  position: absolute;
    margin-right: -100%;
    z-index: 1000;
    display: flex;
    background-color: #f5f5f5;
    border-right: 1px solid #dddddd;
    min-height: calc(100vh - 50px);
    height: 100%;
    width: 310px;
    left: 0px;
    transition: left 350ms ease-in-out;
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.half-width {
	word-wrap: break-word;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
	text-align: center;
	vertical-align: bottom;
}

table {
    //table-layout: fixed;
}

table td {
	//vertical-align: bottom;
	//word-wrap: break-word;         /* All browsers since IE 5.5+ */
    //overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
	text-align: center;
}

.expand {
	width: 2300px;
}

.item {
	color: black;
}

